
# get cheat sheet for a command
cht() {
	curl cht.sh/$1
}

# update the repos and upgrade
sysupdate() {
	sudo apt update && sudo apt upgrade;
	command -v snap &> /dev/null && sudo snap refresh;
	command -v flatpak &> /dev/null && flatpak update -y;
	sudo apt autoremove;
	sudo apt autoclean
}


dclogs() {
	docker compose logs -f --no-log-prefix --no-color "$1" | while read -r line; do
		if echo "$line" | jq -e . >/dev/null 2>&1; then
			echo "$line" | jq .
		else
			echo "$line"
		fi
	done
}

dcloglevel() {
    local service="$1"
    local level="${2:-error}"
    docker compose logs -f --no-log-prefix --no-color "$service" | grep -i --line-buffered "$level" | while read -r line; do
        if echo "$line" | jq -e . >/dev/null 2>&1; then
            echo "$line" | jq .
        else
            echo "$line"
        fi
    done
}
